# TUGAS
1. table iris dipecah dan dimasukkan ke dalam databse berbeda misal(mysql: SepalLengthCm, SepalWidthCm ; Postgre: PetalLengthCm, PetalWidthCm, Species) datanya ditarik menggunakan script, datanya digabung menggunakan power BI(Transform data)
2. Install library pycaret (pip install pycaret)

# Kode script python 
import pandas as pd
import pymysql
import psycopg2

mysql_conn = pymysql.connect(
    host="localhost",
    user="root",
    password="ipins",   
    database="db_iris",
    port=3306
)

petal = pd.read_sql("SELECT * FROM petal", mysql_conn)

pg_conn = psycopg2.connect(
    host="localhost",
    user="postgres",  
    password="ipins",
    database="irisdb",
    port=5432
)

sepal = pd.read_sql("SELECT * FROM sepal", pg_conn)

iris = pd.concat([petal, sepal], axis=1)

dataset = iris